/* Coolors Exported Palette - https://coolors.co/d6d6d6-ffee32-ffd100-202020-333533 */

/* CSS HEX */
--timberwolf: #d6d6d6ff;
--aureolin: #ffee32ff;
--jonquil: #ffd100ff;
--eerie-black: #202020ff;
--jet: #333533ff;

/* CSS HSL */
--timberwolf: hsla(0, 0%, 84%, 1);
--aureolin: hsla(55, 100%, 60%, 1);
--jonquil: hsla(49, 100%, 50%, 1);
--eerie-black: hsla(0, 0%, 13%, 1);
--jet: hsla(120, 2%, 20%, 1);

/* SCSS HEX */
$timberwolf: #d6d6d6ff;
$aureolin: #ffee32ff;
$jonquil: #ffd100ff;
$eerie-black: #202020ff;
$jet: #333533ff;

/* SCSS HSL */
$timberwolf: hsla(0, 0%, 84%, 1);
$aureolin: hsla(55, 100%, 60%, 1);
$jonquil: hsla(49, 100%, 50%, 1);
$eerie-black: hsla(0, 0%, 13%, 1);
$jet: hsla(120, 2%, 20%, 1);

/* SCSS RGB */
$timberwolf: rgba(214, 214, 214, 1);
$aureolin: rgba(255, 238, 50, 1);
$jonquil: rgba(255, 209, 0, 1);
$eerie-black: rgba(32, 32, 32, 1);
$jet: rgba(51, 53, 51, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-right: linear-gradient(90deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-bottom: linear-gradient(180deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-left: linear-gradient(270deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-top-right: linear-gradient(45deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-bottom-right: linear-gradient(135deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-top-left: linear-gradient(225deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-bottom-left: linear-gradient(315deg, #d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);
$gradient-radial: radial-gradient(#d6d6d6ff, #ffee32ff, #ffd100ff, #202020ff, #333533ff);